@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  * {
    transition-property: background-color, color, border-color, fill, stroke;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
}
